.rightbanner {
  width: 30%;
  float: right;
  background-color:rosybrown;
}

  .bandimage {
    width: 40%;
    float: left;
    border: 10px solid red;
    padding: 4px;
    box-sizing: border-box;
  }


  h1 {
    margin-left: 25%;
    margin-right: 25%;
  }

  .column {
    float: right;
    width: 300px;
  }

    body {
      background-color: burlywood;
    }

  