.rightbanner {
  width: 30%;
  float: right;
  background-color:rosybrown;
}

  .band_image {
    width: 40%;
    float: left;
  }

  .image {
    width: 50%;
  }

  h1 {
    margin-left: 25%;
    margin-right: 25%;
  }

  .column {
    float: right;
    width: 300px;
  }

  body {
    background-color: rosybrown;
  }